html {
    background-color: hsl(0, 0%, 8%);
    font-size: 62,5%;
    max-width: 1440px;
}

body {
    margin: 0;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inter-InterVariable {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

.wrapper {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.name {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: 0;
    font-size: 25px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

.details {
    color: #848484;
    font-weight: 400;
}

p {
    font-size: 14px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
}

li {
    list-style-type: none;
    height: 50px;
}

.buttons {
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    text-align: center;
}