html {
    background-color: hsl(0, 0%, 8%);
    max-width: 100%;
    font-size: 62,5%;
    margin: auto;
}

.wrapper {
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

p {
    font-size: 14px;
}

.pf-img {
    
}
